.default {
    background-color: gray;
}

.dark {
    background-color: rgb(70, 70, 70);
}

.incorrect {
    background-color: red;
}

.correct {
    background-color: green;
}

.answer-emoji-container {
    width:4.5em;
    height:4.5em;
    font-size:3em;
    border-width:0.1em;
}