
.winnerContainer {
    border-color: #a47100;
    background-color: #ffb000;
    flex-direction:row;
}

.loserContainer {
    border-color: #3a3a3a;
    background-color: #7b7b7b;
    flex-direction:row;
    
}

.victoryContainer {
    text-shadow: none;
    font-size: 3em;
}

.correct {
    background-color:lime;
    border-color:green;
}

.incorrect {
    background-color:red;
    border-color:maroon;
}

.roundSummary {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.game-over-buttons {
    display: flex;
    flex-direction: column;
    max-height:14.37500em;
    justify-content: center;
    align-items:center;
}

.go-correct {
    color:lime;
    background-color:transparent;
    font-size:x-large;
}

.go-incorrect {
    color:red;
    background-color:transparent;
    font-size:x-large;

.gameoverContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}

.userStatusContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 15px;
    border-radius: 10px;
    height: 40px;
    width: 300px;
}

.winnerContainer {
    background-color: rgb(255, 176, 0);
    border: 3px solid rgb(104, 69, 3);
}

.winnerContainer .userEmoji {
    position: relative;
    display: inline-block;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
    padding: 20px 15px;
    text-align: center;
    line-height: 0;
}

.loserContainer {
    background-color: rgb(123, 123, 123);
    border: 3px solid rgb(54, 54, 54);

}

.usernamePara {
    font-weight: unset;
}

.roundSummaryContainer {}

.roundSummary .correct {
    color: green;
    background-color: transparent;
}

.roundSummary .incorrect {
    color: red;
    background-color: transparent;

}

.rematchButton {
    border: 10px solid;
    border-radius: 10px;
}

.rematchButtonReady {
    background-color: rgb(100, 74, 179);
    border: rgb(23, 21, 29) 5px solid;
}


button.rematchButtonUnready {
    background-color: rgb(157, 125, 255);
    border: rgb(116, 89, 190) 5px solid;
    border-radius: 10px;
}

.returnToLobbbyButton {
    background-color: blue;
    border: 5px solid rgb(39, 100, 192)
}

.returnToMainMenuButton {
    background-color: red;
    border: 5px solid darkred
}