.joinRoomContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: baseline;
    margin-top:1.25em;
    margin-bottom:1.25em;
}

.joinRoomButton {
    background-color: #004bff;
    border: 5px solid #002d97;
}

.hostRoomButton {
    background-color: #4f00dd;
    border: #3e00aa 5px solid;
}
