.lobbyContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}

p {
    margin: 0;
}

.lobbyContainers .userStatusContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    height: 80px;
    width: 22em;
    min-height: 5em;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    align-items: center;
    color:white;
    border-width:0.1875em;
    border-style:solid;
    border-radius:0.9375em;
    margin:1em;
}

.scoreContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align:left;
}

.readyContainer {
    display: block;

}

.hostContainer {
    background-color:#ff2900;
    border-color:#a51b00;
}

.guestContainer {
    background-color:#4f00dc;
    border-color:#3c00a5;
}

.nullContainer {
    background-color: rgb(133, 132, 132, 80);
}

.winsLossesPara {
    display: block;
}

.usernamePara {
    display: block;
    font-size: large;
    font-weight: bold;

}

.roomCodeInputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 330px;
    background-color:white;
    border-color: #949494;
    border-style:solid;
    border-width:0.1875em;
    color:black;
}

.copyButton {
    min-width: 0.0625em;
    max-width: 2em;
    text-align: center;
    padding: 0 2em;
    background-color:white;
    justify-content:center;
    border-width: 0;
}

.roomCodeInput {
    width: 85%;
    color: gray;
    margin: 0px;
    border-style:none;
    text-shadow:none;
}

.roomCodeInput p {
    text-align:left;
}

.roomCodeInput:focus {
    outline: gray;
    background-color: rgb(71, 71, 71);
}


.readyButton {
    height: 100px;
    font-weight: bold;
    font-size: 30px;

}



.readyButtonReady {
    background-color:#4add00;
    border-color:#246a00;
    width: 6.85em;
    font-size:3em;
    border-width:0.0625em;
    border-radius:0.25em;
    padding: 0em 0em;
}


.readyButtonUnready {
    background-color: darkred;
    border-color:red;
    width: 6.85em;
    font-size:3em;
    border-width:0.0625em;
    border-radius:0.25em;
    padding: 0em 0em;
}

.roomCodeContainer {
    width: 23em;
    padding: 0.em 0.75em;
    background-color:#bbbbbb;
    border-color: #949494;
    border-style:solid;
    border-width:0.1875em;
    color:black;
    height:1em;
}